/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}


/* become a developer section styles */
.become-a-developer-container {
    background-image: url(../assets/Hero-bg.png);
    position: absolute;
    width: 1440px;
    height: 652px;
    margin-left: 40px;
    margin-top: 40px;
}

.group-png img {
    margin-left: 390px;
}

.become-a-developer-div {
    width: 998px;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    padding: 0px;
}

.become-a-developer {
    width: 998px;
    height: 581px;
    margin-left: 405px;
}

.become-a-developer-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.become-a-developer-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btn-primary {
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: 400px;
}

.btn-primary button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: rgb(13, 19, 33);
    text-decoration: none;
    border: none;
}

/* web development section styles */
.web-development-container {
    width: 1140px;
    height: 1393px;
    padding-top: 700px;
    margin-left: 200px;
    background: rgba(13, 19, 33, 0.02);

}

.web-development {
    width: 852px;
    height: 37px;
    margin-bottom: 170px;
}

.web-development-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-left: 30%;
    line-height: 37px;
    color: rgb(13, 19, 33);
}

.web-development-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 300px;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

/* part1 and part1(part3***) common styles */
.web-development-div1 {
    width: 946px;
    height: 336px;
    margin-left: 105px;
    border-radius: 16px;
    padding-top: 85px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.web-development-part1 {
    width: 850px;
    height: 240px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.web-development-part1-first {
    width: 477px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.web-development-part1-first-btn {
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 35px;


}

.web-development-part1-first-btn button {
    width: 131px;
    height: 23px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
    margin-left: 18px;
    border: none;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.web-development-part1-second {
    width: 274.17px;
    height: 240px;
}

.web-development-part1-second img {

    width: 259.56px;
    height: 217.01px;
}

/* 2nd part styles */
.web-development-div2 {
    width: 946px;
    height: 336px;
    margin-left: 105px;
    border-radius: 16px;
    padding-top: 85px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.web-development-part2 {
    width: 850px;
    height: 240px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}